.external-link-noopenizer-warning-message {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-bottom: none;
  position: fixed;
  bottom: 0;
  padding: 5px;
  opacity: .7;
}
